/* src/GuidancePage.css */
.alumni-card {
    transition: transform 0.2s;
    border: none;
    border-radius: 10px; /* Set a fixed height for the cards */
    display: flex;
    flex-direction: column; /* Ensure content is stacked vertically */
}

.alumni-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px; /* Set a fixed height for the image */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.alumni-card .card-body {
    flex-grow: 1; /* Allow the body to take up remaining space */
    display: flex;
    flex-direction: column; /* Stack title, subtitle, and text vertically */
    justify-content: space-between; /* Space out the elements */
}

.alumni-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.guidance-h {
    font-size: 2.5rem;
    font-weight: bold;
}

.guidance-p {
    font-size: 1.2rem;
    color: #555;
}