.container-div-bg{
    background-image: url(../../images/background.jpg);
}
.nav-tab {
    color: white;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-tab:hover {
    background-color: #45298a;
    color: #ffffff;
}

.active-tab {
    background-color: #45298a;
    font-weight: bold;
    color: #ffffff;
}

.content-overlay {
    background-color: rgba(48, 28, 88, 0.8); /* Semi-transparent background */
    color: white; /* Text color for better contrast */
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}

.content-overlay h2 {
    color: #f9e79f; /* Optional: Highlight headings */
}

.content-overlay p, .content-overlay address {
    color: white;
    line-height: 1.6; /* Improve readability */
}

#history, #about, #contact {
    position: relative;
    z-index: 1;
}

.container-div-bg {
    background-image: url('../../images/background.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    position: relative;
}

.container-div-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.3);  */
    z-index: 0;
}

.patron-table {
    font-size: 0.9rem;
  }
  
  .patron-table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: black;
  }
  
  .patron-table td, .patron-table th {
    padding: 0.5rem;
    vertical-align: top;
  }
  
  @media (max-width: 768px) {
    .patron-table {
      font-size: 0.8rem;
    }
  }
  