.Events{
    text-align: center;
    /* background-image: url(../../images/pexels-tyler-lastovich-590179.jpg); */
    /* color: #4d63b2; */
    /* font-weight: 600; */
    height: 92vh;
    position: relative;
    width: 100%;
    padding-top: 20px;
}
.event-button-create{
    margin-top: 0px;
}

.react-datepicker__input-container input{
    padding: 0.5em;
    border-radius: 10px;
}

.add-event-button {
    position: fixed;
    bottom: 60px; /* Adjust this value to control the vertical position */
    right: 60px; /* Adjust this value to control the horizontal position */
    padding: 10px 20px; /* Add padding for better visibility */
  }

.event-edit-delete{
    display: flex;
    gap: 20px;
}

.event-details-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }
  
  .event-details-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
  }
  
  .close-btn-event {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  
.rbc-event, .rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #301c5B;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.react-datepicker__input-container input {
  padding: 0.5em;
  border-radius: 5px;
  border-color: black;
}

.rbc-ellipsis, .rbc-show-more, .rbc-row-segment .rbc-event-content, .rbc-event-label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #301c5B;
}
  