.display-post-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    width: 100%;
  }
  
  /* Post Card Styling */
  .display-post-card {
    width: 30%;
    background-color: white;
    border-radius: 8px;
    position: relative;
    height: 50vh;
  }
  
  /* Image Styles */
  .display-post-image {
    overflow: hidden;
    width: 100%;
    border-radius: inherit;
    height: 80%;
  }
  
  .display-post-image img {
    width: 100%;
    height: 100%;
  }
  
  /* Title and Content */
  .display-post-title {
    padding: 0px 12px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .display-post-edit {
    margin-top: 18px;
    border-radius: 8px;
    width: 100%;
  }
  
  .display-post-edit button {
    background: #ebeef0;
    border: 0;
    border-radius: 8px;
    width: 100%;
  }
  
  /* No Groups Section */
  .display-post-noGroups {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .display-post-container {
      flex-direction: column;
      gap: 20px;
    }
  
    .display-post-card {
      width: 100%;
      height: auto; /* Adjust height for smaller devices */
    }
  
    .display-post-image {
      height: 200px; /* Adjust image height for smaller devices */
    }
  }
  